.bd-rd {
    border-radius:50px;
}

@media only screen and (max-width: 550px){
    .df-r{
        flex-direction: column;
    }

    .create{
        margin: 10px 0!important;
        border: none!important;
        text-decoration: underline;
    }
}

@media only screen and (max-width: 990px){
    .d-n{
        display:none;
    }
}

.df-r {
    flex-direction:column;
}

html{
    background-color: #eee;
}

.text-center img {
    height: auto;
    width:100%;
    margin-bottom:60px;
    display: block;
}

.create {
    margin:25px 0;
    background:none;
    color:#00b300;
    border:solid 1px #00b300;
    border-radius:20px;
    width:150px;
    height:40px;
}

.btn-conffr{
   color:white;
   text-decoration: none;
}

.create:hover {
    background:#00b300;
    border:none;
    color:white;
}

.button {
    width:100px;
    height:50px;
    border-radius:20px;
    border:none;
    background: #00b300;
    color:white;
}

.button:hover {
    border:solid 1px #00b300;
    background: none;
    color:#00b300;
}

.bd-grad {
    background: linear-gradient(to right, #2f7e32, #004d00);
}

.button a {
    color:white;
    text-decoration:none;
}

.button a:hover {
    color:#00b300;
}

.create a {
    color:#00b300;
    text-decoration:none;
}

.create a:hover {
    color:white;
}

.conf-frlc{
    margin-top: 80px;
    color:white!important;
    background-color: transparent!important;
    border: solid 1px white!important;
    text-decoration:none;
    border-radius: 20px!important;
}

@media (min-width: 768px) {
.gradient-form {
height: 100vh !important;
}
}
@media (min-width: 769px) {
.gradient-custom-2 {
border-top-right-radius: .3rem;
border-bottom-right-radius: .3rem;
}
}

